/* Remove ugly roundings */
/* Edit bookmark, etc*/
.dialogBox {
  border-radius: 0px !important;
}

/* Right click context menus */
menupopup {
  /* Roundings */
  --panel-border-radius: 0px !important;
  /* Hide top and bottom unnecessary padding */
  --panel-padding: 0px !important;
}
